<h1>Formulario reactivo</h1>
<a href="https://angular.io/guide/reactive-forms" target="_blank" class="documentacion">Documentación Oficial</a>


<div class="row mt-4 mb-4">
  <button class="btn btn-info" (click)="cargarFormulario()">Cargar Formulario</button>
</div>

<div class="row">
  <p>{{formulario.value | json}}</p>
  <p>{{formulario.status | json}}</p>
</div>
  
  <!-- Importante desactivar las validaciones en HTML5 -->
  <form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Min 2 y max 50">
      <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Mínimo 2 letras máximo 50 letras</small>
      <small *ngIf="formulario.controls.nombre.valid && formulario.controls.nombre.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" formControlName="precio" class="form-control" id="precio" step="0.01" />
      <small *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched" class="form-text text-danger">Mínimo 0,01 máximo 999</small>
      <small *ngIf="formulario.controls.precio.valid && formulario.controls.precio.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="calorias">Calorías:</label>
      <input type="text" formControlName="calorias" class="form-control" id="calorias">
      <small *ngIf="formulario.controls.calorias.invalid && formulario.controls.calorias.touched" class="form-text text-danger">Mínimo 0,01 máximo 52000</small>
      <small *ngIf="formulario.controls.calorias.valid && formulario.controls.calorias.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="oferta">Oferta:</label>
      <input type="checkbox" formControlName="oferta" class="form-control" id="oferta" />
    </div>

    <div class="form-group" *ngIf="formulario.get('oferta').value">
      <label for="descuento">Descuento:</label>
      <input type="text" formControlName="descuento" class="form-control" id="descuento">
      <small *ngIf="formulario.controls.descuento.invalid && formulario.controls.descuento.touched" class="form-text text-danger">Mínimo 0% máximo 100%</small>
      <small *ngIf="formulario.controls.descuento.valid && formulario.controls.descuento.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="imagen">Imagen:</label>
      <input type="text" formControlName="imagen" class="form-control" id="imagen">
      <small *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched" class="form-text text-danger">La URL completa</small>
      <small *ngIf="formulario.controls.imagen.valid && formulario.controls.imagen.touched" class="form-text text-success">Correcto</small>
    </div>

    <input type="submit" class="btn btn-success btn-block" value="Crear" [disabled]="formulario.status === 'INVALID'" />

  </form>
  
<p class="text-success"><b>{{msg}}</b></p>
