/* You can add global styles to this file, and also import other style files */

:root {
    --color-angular: #DD0031; 
    --color-verde-calorias: #50A13B; 
    --color-white: #fff; 
}

.color-angular{
    color:#DD0031;
}

app-fruta{
    border:1px solid red;
    display:block;
    margin:0 auto;
    width:50%;
}

app-listado-clase{
    border:1px solid red;
    display:block;
    margin:0 auto;
    width:50%;
}